<div id="page-content">
  <h1>Christian Speed Dating SD</h1>
  
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <% @pairings_by_round.length.times do |i| %>
      <% active_string = i == 0 ? "active" : "" %>
      <% aria_selected_string = i == 0 ? "true" : "false" %>
      
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= active_string %>" id="home-tab" data-bs-toggle="tab" data-bs-target="#round-<%=i%>-tab-pane" type="button" role="tab" aria-controls="round-<%=i%>" aria-selected=<%= aria_selected_string %>><%= i+1 %></button>
      </li>
    <% end %>
  </ul>
  
  <div class="tab-content" id="myTabContent">
    <% @pairings_by_round.each_with_index do |pairs_for_round, i| %>
      <% show_active_string = i == 0 ? "show active" : "" %>
    
      <div class="tab-pane fade <%= show_active_string %>" id="round-<%= i %>-tab-pane" role="tabpanel" aria-labelledby="round-<%= i %>" tabindex="0">
        <% if @icebreaker_questions[i].present? %>
          <div class="icebreaker-container">
            <span class="icebreaker-question-label">ICEBREAKER QUESTION: </span><span class="icebreaker-question-text"><%= @icebreaker_questions[i].text %></span>
          </div>
        <% end %>
        
        <div class="tab-pane-container">
          <div id="pairs-section-container">
            <h3>Tables:</h3>
            
            <ul class="pairs-section">
              <% pairs_for_round.each_with_index do |pair, j| %>
                <li>
                  <span class="table-number">Table <%= j+1 %></span> <%= pair[:male] %> & <%= pair[:female] %>
                </li>
              <% end %>
            </ul>
          </div>
          
          <div id="minglers-section-container">
            <h3>Minglers:</h3>
            <ul class="minglers-section">
              <% @mingle_table_by_round[i].each do |mingler| %>
                <li>
                  <%= mingler[:name] %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>