<div id="page-content">
  <h1>Christian Speed Dating SD</h1>
  
  <div id="upload-icebreaker-questions-header">
    <%= link_to "Upload Icebreaker Questions", icebreaker_questions_path %>
  </div>
  
  <div>
      <%= form_tag({:action => :upload}, :multipart => true) do %>
        <div>
          <label for="num_tables">Number of tables:</label>
          <input id="num_tables" name="num_tables" type="text" />
        </div>
        
        <div>
          <label for="num_rounds">Number of rounds:</label>
          <input id="num_rounds" name="num_rounds" type="text" />
        </div>
      <br/>
      <div>
        <%= check_box_tag(:clear_db) %>
        <%= label_tag(:clear_db, "Start clean (no attendees, exclusions, or assignments") %>
      </div>
      <br/>
      <div>
        <%= radio_button_tag(:actions, "actions_attendees") %>
        <%= label_tag(:actions_attendee, "Just find or create attendees") %>
      </div>

      <div>
        <%= radio_button_tag(:actions, "actions_attendees_exclusions") %>
        <%= label_tag(:actions_attendee_exclusions, "Find or create attendees and exclusions") %>
      </div>

      <div>
        <%= radio_button_tag(:actions, "actions_attendees_exclusions_assignments", checked: true) %>
        <%= label_tag(:actions_attendee_exclusions_assignments, "Find or create attendees and exclusions and create assignments") %>
      </div>
        
        <div class="form-row">
          <label for="attendees">Upload CSV file with list of attendees (name,age,gender,phone number):</label>
        </div>
        
        <div>
          <%= file_field_tag 'attendees' %>
        </div>
        
        <div class="form-row">
          <div class="actions">
            <%= submit_tag 'Submit' %>
          </div>
        </div>
      <% end %>
  </div>
</div>